{{page-title "Myday"}}

<div class="container">
  <div class="branding">
    <h1 style="color: purple">
      <LinkTo @route="index">My Day</LinkTo>
    </h1>
    <h4 style="color: grey;">by traxrep.com</h4>
  </div>
  {{outlet}}
</div>
