{{page-title "Index"}}

<div>
  <div class="question">
    <p>How is your day?</p>
  </div>

  <div class="face-container">
    <img src="/images/frowning-face.svg" alt="Sad" width="250" height="250">
    <img src="/images/neutral-face.svg" alt="Neutral" width="250" height="250">
    <img src="/images/smiling-face.svg" alt="Happy" width="250" height="250">
  </div>

  <div class="login-redirect">
    <p>
      <LinkTo @route="login">
        Login with your traxrep account to mark your day
      </LinkTo>
    </p>
  </div>
    <div class="signup-redirect">
    <p>Don't have a traxrep account? <a href="https://traxrep.com/account/signup/">Sign up today</a></p>
  </div>
</div>
